fastapi==0.109.2
fastapi_sso==0.12.1
python-jose==3.3.0
pydantic==2.6.1
pytest==8.0.1
python-dotenv==1.0.1
SQLAlchemy==2.0.27
uvicorn==0.27.1
plaid-python==23.0.0
psycopg2-binary==2.9.9
pytest-cov==4.1.0
httpx==0.26.0
starlette==0.36.3